Explore the dataset

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

from numpy.ma.extras import column_stack
from pandas import isnull

In [3]:
df = pd.read_csv('data/car_reviews_full.csv')

In [4]:
df.head()

,Brand,Car Model,Rating,Title,Review Text,Date,Reviewer,Location,Ownership,Comfort,Interior,Performance,Value,Exterior,Reliability,Purchased,Used For,Recommend,Helpful
0,lincoln,Lincoln Mks (2014),4.0,A throwback to a better time,"This is my second MKS, both 2015 AWD models. ...","September 28, 2022",Dennis Mincin,"Belleville, NJ",Owns this car,5.0,5.0,5.0,4.0,5.0,5.0,Used,Having fun,Does,6/6
1,lincoln,Lincoln Mks (2014),4.0,Fine car - rides noisy. Lumpa and pothole sera...,"2014 Great car. Power, handling,comfort,except...","June 6, 2022",William,"Alfred, Maine",Owns this car,4.0,4.0,5.0,4.0,5.0,4.0,Used,Transporting family,Does,6/6
2,lincoln,Lincoln Mks (2014),3.0,steer clear,"I bought a 2013 with factory 20"" wheels. It do...","April 2, 2021",Dave's not here,Kansas City,Owns this car,1.0,4.0,4.0,3.0,5.0,2.0,Used,Commuting,Does,25/28
3,lincoln,Lincoln Mks (2014),5.0,One of the Last Great Big American Sedans,This is one of the last great big American Sed...,"September 23, 2020",Bran 29,IL,Owns this car,5.0,5.0,5.0,5.0,5.0,5.0,New,Commuting,Does,15/15
4,lincoln,Lincoln Mks (2014),5.0,Luxury Luxury with a sporty look,I love this vehicle and wish I had owned one s...,"June 13, 2020",Makinwaves96,"EAST PRAIRIE, Mo",Owns this car,5.0,5.0,5.0,5.0,5.0,5.0,Used,Transporting family,Does,12/12

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12770 entries, 0 to 12769
Data columns (total 19 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Brand        12770 non-null  object
 1   Car Model    12770 non-null  object
 2   Rating       12770 non-null  float64
 3   Title        12769 non-null  object
 4   Review Text  12769 non-null  object
 5   Date         12770 non-null  object
 6   Reviewer     12768 non-null  object
 7   Location     12058 non-null  object
 8   Ownership    12769 non-null  object
 9   Comfort      12769 non-null  object
 10  Interior     12769 non-null  object
 11  Performance  12769 non-null  object
 12  Value        12769 non-null  object
 13  Exterior     12769 non-null  object
 14  Reliability  12769 non-null  object
 15  Purchased    12716 non-null  object
 16  Used For     11628 non-null  object
 17  Recommend    12770 non-null  object
 18  Helpful      12770 non-null  object
dtypes: float64(1), object(18)
memory usage: 1.9+ MB

In [8]:
# Function to perform EDA
def perform_eda(df):
    # Create a text file to save EDA results
    with open('car_reviews_eda.txt', 'w') as f:
        f.write("EXPLORATORY DATA ANALYSIS (EDA) FOR CAR REVIEWS\n")
        f.write("="*50 + "\n\n")

        # 1. Basic Information
        f.write("1. BASIC INFORMATION\n")
        f.write("-"*30 + "\n")
        f.write(f"Total records: {len(df)}\n")
        f.write(f"Total columns: {len(df.columns)}\n")
        f.write("\nColumn names:\n")
        f.write(", ".join(df.columns) + "\n\n")

        # 2. Data Types
        f.write("2. DATA TYPES\n")
        f.write("-"*30 + "\n")
        f.write(str(df.dtypes) + "\n\n")

        # 3. Missing Values
        f.write("3. MISSING VALUES\n")
        f.write("-"*30 + "\n")
        f.write(str(df.isnull().sum()) + "\n\n")

        # 4. Descriptive Statistics
        f.write("4. DESCRIPTIVE STATISTICS\n")
        f.write("-"*30 + "\n")
        f.write(str(df.describe(include='all')) + "\n\n")

        # 5. Unique Values
        f.write("5. UNIQUE VALUES\n")
        f.write("-"*30 + "\n")
        for col in df.columns:
            f.write(f"{col}: {df[col].nunique()} unique values\n")
            if df[col].nunique() < 10:
                f.write(f"Values: {df[col].unique()}\n")
        f.write("\n")

    # Visualization (since we only have one record, some plots won't be meaningful)
    print("Creating visualizations...")

    # Rating distribution (if we had more data)
    if len(df) > 1 and 'Rating' in df.columns:
        plt.figure(figsize=(8, 5))
        sns.countplot(x='Rating', data=df)
        plt.title('Distribution of Ratings')
        plt.savefig('rating_distribution.png')
        plt.close()

    # Brand distribution (if we had more data)
    if len(df) > 1 and 'Brand' in df.columns:
        plt.figure(figsize=(12, 6))
        df['Brand'].value_counts().plot(kind='bar')
        plt.title('Brand Distribution')
        plt.xticks(rotation=45)
        plt.savefig('brand_distribution.png')
        plt.close()

    # Word cloud for review text (if we had more data)
    if len(df) > 1 and 'Review Text' in df.columns:
        from wordcloud import WordCloud
        text = " ".join(review for review in df['Review Text'].dropna())
        wordcloud = WordCloud(background_color='white').generate(text)
        plt.figure(figsize=(10, 6))
        plt.imshow(wordcloud, interpolation='bilinear')
        plt.axis("off")
        plt.title('Common Words in Reviews')
        plt.savefig('word_cloud.png')
        plt.close()

    print("EDA completed. Results saved to 'car_reviews_eda.txt'")
    if len(df) > 1:
        print("Visualizations saved as PNG files.")

# Perform EDA
perform_eda(df)

Creating visualizations...
EDA completed. Results saved to 'car_reviews_eda.txt'
Visualizations saved as PNG files.

In [9]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import chardet  # For detecting file encoding

def load_data_with_encoding_check(filepath):
    """Load data with encoding detection and non-UTF-8 character handling"""
    # Detect file encoding
    with open(filepath, 'rb') as f:
        result = chardet.detect(f.read())

    print(f"Detected encoding: {result['encoding']} with confidence {result['confidence']}")

    try:
        # Try reading with detected encoding
        df = pd.read_csv(filepath, encoding=result['encoding'])
        print("Successfully loaded with detected encoding")
    except:
        try:
            # Fallback to UTF-8 with error handling
            df = pd.read_csv(filepath, encoding='utf-8', errors='replace')
            print("Used UTF-8 with replacement for non-UTF-8 characters")
        except:
            # Final fallback to latin1
            df = pd.read_csv(filepath, encoding='latin1')
            print("Used latin1 encoding as final fallback")

    return df

In [11]:
df1 = load_data_with_encoding_check(r'E:\Study\BHT\Semester2\DSWorkflow\new_app\data\car_reviews_full.csv')

Detected encoding: MacRoman with confidence 0.7241542719166872
Successfully loaded with detected encoding

In [41]:
df1.isnull().sum()

Brand             0
Car Model         0
Rating            0
Title             1
Review Text       1
Date              0
Reviewer          2
Location        712
Ownership         1
Comfort           1
Interior          1
Performance       1
Value             1
Exterior          1
Reliability       1
Purchased        54
Used For       1142
Recommend         0
Helpful           0
dtype: int64

In [43]:
# df1[df1['Review Text'].isna()== True]
# df1[df1['Reviewer'].isna()== True];
# df1[df1['Location'].isna()== True]
# df1[df1['Ownership'].isna()== True] # All values are nan here same as Review TExt column can be dropped
# df1[df1['Performance'].isna()== True] # same as above 202 line
df1[(df1['Purchased'].isna()== True) & (df1['Used For'].isnull()== True)].count() # same row s as Used for Can be imputed with Other

Brand          54
Car Model      54
Rating         54
Title          54
Review Text    54
Date           54
Reviewer       54
Location        0
Ownership      54
Comfort        54
Interior       54
Performance    54
Value          54
Exterior       54
Reliability    54
Purchased       0
Used For        0
Recommend      54
Helpful        54
dtype: int64

In [18]:
df1.Title[df.Title.isna()== True ]

10128    NaN
Name: Title, dtype: object

Analysisng the missing value

In [44]:
def analyze_missing_values(df):
    """Analyze and handle missing values"""
    print("\n=== MISSING VALUE ANALYSIS ===")

    # Calculate missing value percentages
    missing = df.isnull().sum()
    missing_percent = missing / len(df) * 100
    missing_table = pd.concat([missing, missing_percent], axis=1)
    missing_table.columns = ['Missing Count', 'Missing %']

    # Sort by missing percentage
    missing_table = missing_table.sort_values('Missing %', ascending=False)

    print("\nMissing value summary:")
    print(missing_table)

    # Identify columns with high missing percentages
    high_missing = missing_table[missing_table['Missing %'] > 70].index.tolist()

    if high_missing:
        print(f"\nColumns with >70% missing values (consider dropping): {high_missing}")

        # Check if these columns are important
        important_cols = ['Rating', 'Review Text', 'Brand', 'Car Model']  # Define important columns
        cols_to_drop = [col for col in high_missing if col not in important_cols]

        if cols_to_drop:
            print(f"\nDropping non-important columns with high missing values: {cols_to_drop}")
            df = df.drop(columns=cols_to_drop)
        else:
            print("\nNo non-important columns with high missing values to drop")
    else:
        print("\nNo columns with >70% missing values")

    return df

In [45]:
df = analyze_missing_values(df1)

=== MISSING VALUE ANALYSIS ===

Missing value summary:
             Missing Count  Missing %
Used For              1142   8.942835
Location               712   5.575568
Purchased               54   0.422866
Reviewer                 2   0.015662
Reliability              1   0.007831
Performance              1   0.007831
Interior                 1   0.007831
Comfort                  1   0.007831
Ownership                1   0.007831
Review Text              1   0.007831
Title                    1   0.007831
Exterior                 1   0.007831
Value                    1   0.007831
Brand                    0   0.000000
Car Model                0   0.000000
Rating                   0   0.000000
Date                     0   0.000000
Recommend                0   0.000000
Helpful                  0   0.000000

No columns with >70% missing values

In [65]:
# df['nan_count'] = df.isna().sum(axis=1)
print("\nRows with their NaN counts:")
# print(pd.DataFrame(df.sort_values('nan_count', ascending=False).iloc([df['nan_count']>5])))
df.loc[df['nan_count'] > 5]

Rows with their NaN counts:

,Brand,Car Model,Rating,Title,Review Text,Date,Reviewer,Location,Ownership,Comfort,Interior,Performance,Value,Exterior,Reliability,Purchased,Used For,Recommend,Helpful,nan_count
202,nissan,Nissan Armada (2025),5.0,I was a victim of a devastating investment sca...,NaN,By jane from californaUsed to own this car,Used to own this car,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,New,Having fun,Does,1/3,9

Drop row where most of the values were Nan

In [54]:
# Then decide on threshold and drop
df_cleaned = df[df['nan_count'] < len(df.columns)/3].drop(columns=['nan_count'])
df.shape, df_cleaned.shape

((12770, 20), (12769, 19))

In [66]:
df_cleaned.isnull().sum()

Brand             0
Car Model         0
Rating            0
Title             1
Review Text       0
Date              0
Reviewer          2
Location        711
Ownership         0
Comfort           0
Interior          0
Performance       0
Value             0
Exterior          0
Reliability       0
Purchased        54
Used For       1142
Recommend         0
Helpful           0
dtype: int64

In [68]:
col_to_impute = ['Title','Reviewer','Location','Purchased', 'Used For']
for cols in col_to_impute:
    df_cleaned[cols] = df_cleaned[cols].fillna('Other')
df_cleaned.isnull().sum()

Brand          0
Car Model      0
Rating         0
Title          0
Review Text    0
Date           0
Reviewer       0
Location       0
Ownership      0
Comfort        0
Interior       0
Performance    0
Value          0
Exterior       0
Reliability    0
Purchased      0
Used For       0
Recommend      0
Helpful        0
dtype: int64